body {
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background: linear-gradient(45deg, #3E32C7, #7C07A9, #060108);
    background-size: 300% 300%;
    animation: color 12s ease-in-out infinite;

}

@keyframes color {
    0% {
        background-position: 0 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0 50%;
    }
}

.form-inline.myform1 {
    flex-wrap: nowrap;
}

.container {
    /*position: absolute;*/
    overflow: hidden;
    height: auto;
    width: 100%;
    top: 0px;
    z-index: 2500;
}

.container_center {
    padding-left: 100px;
    padding-right: 200px;
    position: relative;
    background-color: grey;
    height: auto;
    width: 1400px;
    margin: 0 auto;
}

/*.container_center:before,*/
/*.container_center:after {*/
/*    content: "";*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    width: 20%;*/
/*}*/

/*.container_center:before {*/
/*    left: 0;*/
/*    background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));*/
/*}*/

/*.container_center:after {*/
/*    right: 0;*/
/*    background: linear-gradient(to left, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0));*/
/*}*/